@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,500,700&display=swap');

body {
  background: linear-gradient(-45deg, #28df99, #99f3bd, #d2f6c5, #f6f7d4);
  background-size: 400% 400%;
  -webkit-animation: Gradient 2s ease infinite;
  -moz-animation: Gradient 2s ease infinite;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}